<header class="header">

</header>
<div class="container">
  <h1 class="header__title" >Ruashi mining</h1>
  <h2 class="header__subtitle">Bienvenue au site de recrutement</h2>
  <h2 class="header__subtitle justify_end">Veuillez consulter les offres en suivant ce liens :
    <a routerLink="/offres" class="btn btn-rounded--white">offres</a>
  </h2>
</div>
