.btn-link{
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: $color-dark-elegant;
  font-family: inherit;
  letter-spacing: .1rem;
  font-weight: 300;
}


.btn{
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color-blue-primary;
  color: white;
  border-radius: .5rem;
  outline: none;
  border: none;
  font-size: 2rem;
  box-shadow: 0 .2rem 1rem $color-blue-primary;

}

.btn-rounded{
  &,
  &:link,
  &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
    text-align: center;
    border-radius: 5rem;
    transition: all .2s;
    font-size: .2rem;
    position: relative;

    //change for button element

    border: none;
    cursor: pointer;
  }
  &:hover{
    transform: translateY(-.4rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    &::after{
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }


  &:active,
  &:focus{
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 1rem 1rem rgba(0,0,0, .2);
  }

  &--white{
    background-color: $color-white;
    color:$color-grey-dark-1;

    &::after{
      background-color: $color-white;
    }
  }
  &--blue{
    background-color: $color-blue-primary;
    color:$color-white;

    &::after{
      background-color: $color-blue-primary;
    }
  }


  &--green{
    background-color: $color-green-dark;
    color:$color-white;

    &::after{
      background-color: $color-green-dark;
    }
  }
  &--disabled{
    background-color: $color-grey-light-4;
    color:$color-dark-elegant;
    cursor: not-allowed;
    &::after{
      background-color: $color-grey-light-4;
    }
  }
  &--animated{
    animation: moveInBottom .6s ease-out;
    animation-delay: .5s;
    animation-fill-mode: backwards;
  }
}

.btn-download{
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  border: 1px solid $color-pink;
  padding: 1rem 2rem;
}

.btn__card{
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  color: white;
  background-color: $color-blue-primary-dark;
  border-radius: 20rem;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
}
.btn__card--inverse{
  @extend .btn__card;
  background-color: $color-white;
  color: $color-blue-primary-dark;
}

