.card{

  height: 19rem;
  box-shadow: 0 0  2rem rgba($color-blue-primary-dark, .2);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: repeat(4, minmax(2rem, max-content));

  justify-content: center;
  padding: 2rem 2.5rem;
  grid-row-gap: 1rem;
  background-color: $color-white;
  margin-top: 2rem;

  &__image{
    width: 90%;
    height: 12rem;
    grid-column: 1 /-1;
    border-radius: 1rem;
    justify-self: center;
    box-shadow: 0 0 1rem rgba($color-blue-primary-dark, .9);
    background: linear-gradient(rgba($color-blue-primary-dark ,.5), rgba($color-blue-primary, .5)), url("assets/img/town.jpg");
    background-size: cover;
    transform: translateY(-3rem);
  }
  &__category{
    justify-self: center;
    font-size: 1.6rem;
    font-family: "Raleway Thin", sans-serif;
    color: $color-blue-primary;
  }
  &__title{
    justify-self: center;
    font-size: 1.7rem;
    font-family: "Raleway Medium", sans-serif;
    letter-spacing: .2rem;
    color: $color-pink
  }

  &__description{
    font-size: 1.5rem;
    color: inherit;
    justify-self: center;
  }
}
.card--inverse{
  @extend .card;
  background-color: $color-blue-primary-dark;
  color: $color-white;

  .card__category{
    color: $color-white;
  }
}
