.search{

  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  &__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-grey-light-2;
    border: none;

    padding: 1.4rem 2.5rem;
    border-radius: 100px;

    width: 90%;
    transition: .3s all;
    margin-right: -3.2rem;

    &:focus{
      outline: none;
      width: 100%;
      background-color: $color-grey-light-3;
    }

    &::-webkit-input-placeholder{
      font-weight: 100;
      color: $color-grey-light-4;
    }

  }

  &__input:focus + &__button{
    background-color: var($color-grey-light-3);
  }

  &__button{
    border: none;
    background-color: $color-grey-light-3;
    transition: .2s all;

    &:focus{
      outline: none;
    }

    &:active{
      transform: translateY(3px);
    }

  }

  &__icon{
    height: 2rem;
    width: 2rem;
    fill: $color-grey-dark-3;
  }

}

.discussion__filter{

}

.select{
  display: block;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border: none;
  box-shadow: 0 .2rem .3rem rgba($color-dark-elegant-dark, .3);
  margin-bottom: 2rem;
  font-family: "Roboto Thin", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $color-dark-elegant-dark;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
  border-radius: .3rem;
  outline: none;


  option{
    font-weight: 300;
    font-family: inherit;
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: center;
    color: $color-dark-elegant;
    border: none;
  }

}


.form{

  &__input{
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: .7rem;
    background-color: rgba(#fff, .9);
    border: none;
    margin-top: 2.5rem;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all .3s;


    &::-webkit-input-placeholder{
      color:$color-grey-dark-2;
    }
    &:focus{
      outline: none;
      border-bottom: 3px solid $color-secondary-light;
    }

    &:focus:invalid{
      border-bottom: 3px solid $color-pink;

    }
  }

  &__label{
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
  }

  &__alert{
    font-family: "Raleway Light",sans-serif;
    color: $color-pink;
    font-weight: 300;
    letter-spacing: .6rem;
    font-size: 1.2rem;
    animation: 1s moveInRight forwards;
  }
}
.all-widht{
  width: 100% !important;
}
.width-90{
  width: 90% !important;
}
