.navbar{
  padding: 2.4rem;
  background-color: $color-nav;
  height: 10vh;
  display: flex;
  align-items: center;

  &__background{
    display: none;

    @include responsive(phone){
      display: block;
      height: 5.5rem;
      width: 5.5rem;
      border-radius: 50%;
      position: fixed;
      top: 4rem;
      right: 4rem;
      background-image: radial-gradient($color-secondary-light, $color-secondary);
      z-index: 100;
      transition: transform .8s cubic-bezier(.86, 0, .07, 1);

      //transform: scale(25);
    }
  }
  &__checkbox{
    display: none;
  }
  @include responsive(phone){
    &__checkbox:checked ~ &__background{
      transform: scale(50);
    }
    &__checkbox:checked ~ &__nav{
      opacity: 1;
      width: 100%;
    }
  }

  &__button{
    display: none;
    @include responsive(phone){
      display: block;
      background-color: $color-white;
      height: 6.5rem;
      width: 6.5rem;
      position: fixed;
      top:3.5rem;
      right: 3.5em;
      border-radius: 50%;
      z-index: 200;
      box-shadow: 0 1rem 3rem rgba($color-pink, .1);
      text-align: center;
      cursor: pointer;
    }
  }

  &__nav{
    display: grid;
    grid-template-columns: 2fr .8fr;
    align-content: center;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    justify-items: end;

    @include responsive(phone){
      display: flex;
      flex-direction: column;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 150;
      opacity: 0;
      width: 0;
      transition: all .8s cubic-bezier(.68, -.55, .265, 1.55);
    }
  }

  &__brand{
    text-decoration: none;
    color: $color-white;
    font-size: 1.7rem;
    transition: all 1s;

    &:hover{
      color: $color-secondary-light;
    }
  }

  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    @include responsive(phone){
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 55%;
      flex-direction: column;
    }
    &-icons{
      display: flex;
      width: 100%;
      justify-self: end;
      list-style: none;
      justify-content: space-around;
      @include responsive(phone){
        position: absolute;
        bottom: 10rem;
        left: 8rem;
      }
    }

  }

  &__link{
      font-size: 1.5rem;
      font-weight: 500;
      text-decoration: none;
      color: $color-grey-light-2;
      transition: all .5s;

      @include responsive(phone){
        display: inline-block;
        font-size: 2rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-white;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 230%;
        transition: all .4s;
      }


    &:hover{
      color: $color-secondary;
      cursor: pointer;
      @include responsive(phone){
        background-position: 100%;
        color: $color-blue-primary-dark;
        transform: translateX(1rem);
      }
    }

    &:active{
      color: $color-secondary;
    }
  }

  &__icons{
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-secondary-light;
    transition: all 1s;
    @include responsive(phone){
      fill: $color-white;
    }
    &:hover{
      transform: translateY(-.5rem);
    }
  }

  &__baricon{
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after{
      width: 3rem;
      height: 2px;
      background-color: $color-blue-primary-dark;
      display: inline-block;
    }

    &::before,
    &::after{
      content: "";
      position: absolute;
      left:0 ;
      transition: all .2s;
    }
    &::before{top: -.8rem}
    &::after{top: .8rem}
  }
  &__button:hover &__baricon::before{
    top: -1rem;
  }
  &__button:hover &__baricon::after{
    top: 1rem;
  }

  &__checkbox:checked + &__button &__baricon{
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__baricon::after{
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__baricon::before{
    top: 0;
    transform: rotate(-135deg);
  }



}
