.progress{
  position: relative;
  width: 20rem;
  height: 20rem;
  display: flex;

  align-items: center;

  &__svg{
    position: relative;
    width: auto;
    height: auto;
    z-index: 100;

    circle{
      width: 100%;
      height: 100%;
      fill:none;
      stroke: $color-grey-light-1;
      stroke-width: 15;
      stroke-linecap: round;
      transform: translate(5px, 5px);
    }
    circle:nth-child(2){
      stroke: $color-pink;
    }
  }

  &__number{
    position: absolute;
    top: 7rem;
    left: -3rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;


   h2{
     font-family: "Raleway ExtraBold", sans-serif;
     font-size: 3rem;
     transition: all 1s;
     font-weight: 700;
     color: $color-dark-elegant;
   }
  }

}

