<div class="navbar">
  <input type="checkbox" class="navbar__checkbox" id="navbar-toggle"/>
  <label for="navbar-toggle" class="navbar__button">
    <span class="navbar__baricon">&nbsp;</span>
  </label>
  <div class="navbar__background">&nbsp;</div>
  <h1><a class="navbar__brand" routerLink="/Admin">Ruashi Mining</a> </h1>
  <nav class="navbar__nav">
    <ul class="navbar__list">
      <li><a class="navbar__link" routerLink="transactions">transactions</a> </li>
    </ul>
    <ul class="navbar__list-icons">
      <li>
        <p class="navbar__link" style="text-align: center">
         {{user.name}}
        </p>
      </li>
      <li>
        <p (click)="logout()"  class="navbar__link" style="text-align: center">
          Logout
        </p>
      </li>
    </ul>
  </nav>
</div>
