.card__conatiner{
  display: flex;
  padding: 4rem;
}
.card__candidature{
  font-family: "Raleway Medium", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #2F2F51;
  width: 30%;
  justify-content: space-between;
  color: white;
  height: 30rem;
  align-items: center;
  padding: 2rem;
  margin-left: 2rem;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.candidat__name{
  font-size: 2rem;
  letter-spacing: .5rem;
}
.separator{
  height: 5px;
  width: 90%;
  border-bottom: 5px solid white;
}

.card__links{
  font-size: 1.5rem;
  cursor: pointer;
  color: #D85395;
}

.offres__titre{
  font-size: 1.5rem;
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: .3rem;
  color: #D85395;
}
.btn__candidature{
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  color: #2f2f51;
  background-color: #ffb3b2;
  border-radius: 20rem;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
}
