@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500i,700&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  font-family: "Raleway", "Roboto Thin", sans-serif;

}

body{
  box-sizing: border-box;
}
