


.about__header{
  height: 90vh;
  background: linear-gradient(to bottom ,
    rgba($color-blue-primary, 1), rgba($color-blue-primary-dark, 1)) top;
  clip-path: polygon(0 0, 60% 0, 60% 100%, 0 100%);
}

.about {
  &__main{
    display: flex;
    position: absolute;
    top: 15%;
    left: 0;
  }

  &__right{
    flex: 60%;
    padding: 3rem;
    text-align: justify;
  }

  &__left{
   flex: 40%;
    background-color: #E8E8E8;
  }

  &__heading{
    color: $color-white;
    font-family: "Raleway ExtraBold", sans-serif;
    letter-spacing: .5rem;
    text-transform: capitalize;
    font-style: italic;
    font-size: 2rem;

    span{
      color: $color-pink;
    }

  }

  &__text{
    font-size: 1.5rem;
    color: $color-grey-light-2;
    margin-top: 2rem;
  }

  &__img{
    width: 90%;
  }

  &__icons{
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-pink;
    margin-right: .5rem;
  }

  &__info{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    p{
      width: 50%;
      font-size: 1.4rem;
      color: $color-grey-light-2;
      margin-top: 2rem;

      span{
        font-weight: 700;
        color: $color-white;
        text-transform: capitalize;
      }
    }
  }

  &__links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 3rem;
    align-items: center;
    span{
      color: $color-pink;
      margin-left: .5rem;
    }
  }
}
