
.contact__header{
  height: 90vh;
  background: linear-gradient(to bottom ,
    rgba($color-blue-primary, 1), rgba($color-blue-primary-dark, 1)) top;
  clip-path: polygon(0 0, 60% 0, 50% 100%, 0 100%);

  @include responsive(850px){
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    display: flex;
    flex-direction: row;
  }
}
.all_columns{
  grid-column: 1 /-1;
}
.contact-full{
  @include centerElement(50%, 55%);
  width: 50%;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: repeat(1, minmax(40vw, max-content));
  grid-column-gap: 1rem;
}
.contact {
  @include centerElement(50%, 30%);
  width: 50%;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: repeat(2, minmax(20vw, max-content));
  grid-column-gap: 1rem;

  &__heading{
    font-family: "Raleway Thin", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-style: italic;
    color: $color-pink;
    grid-column: 1 /-1;
  }
  &__heading-sub{
    font-family: "Raleway Thin", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-style: italic;
    color: $color-pink;
    grid-column: 1 /-1;
  }



  &__comp{
    color: $color-pink;
    font-family: "Raleway Medium", sans-serif;
    font-weight: 500;
    letter-spacing: .5rem;
    text-transform: capitalize;
    font-size: 2rem;
  }

  &__text{
    font-family: "Roboto Light", sans-serif;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    color: $color-blue-primary-dark;
    margin-top: 1rem;
  }
  &__link{
    font-family: "Roboto Light", sans-serif;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    color: $color-blue-primary-dark;
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    border-bottom: 1px solid $color-blue-primary-dark;
    transition: all 1s;
    @include responsive(850px){
      color: $color-white;
    }

    &:hover{
      transform: scale(1.05, 1.05);
    }
  }

  &__social{
    list-style: none;
    display: flex;
    width: 80%;
    justify-content: space-between;
  }
  &__icons{
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    transition: all .5s;
    fill: $color-white;
    &:hover{
      transform: translateY(-.5rem) scale(1.1);

    }
  }
}

.contact__info{
  @include centerElement(50%, 75%);
  div{
    margin-top: 3rem;
  }
}
.register__image-div{
  position: absolute;
  z-index: 500;
  @include centerElement(55%, 80%);
}

.img-bloc{
  width: 50rem;
  border-radius: 2rem;
  box-shadow:0 1rem 3rem rgba($color-blue-primary-dark, 0.9);
}
