.header{
  height: 90vh;
  background: linear-gradient(to bottom ,
    rgba($color-blue-primary, .5), rgba($color-blue-primary-dark, .5)) top, url("assets/back.jpeg");
  overflow: visible;
  background-repeat: no-repeat;
  background-size: cover;

  &__title{
    color: $color-white;
    font-family: "Raleway Thin", sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-style: italic;
    margin-bottom: 3rem;
    text-transform: uppercase;
    grid-column: 1 /-1;
    @include responsive(tab-port){
      font-size: 3rem;
      letter-spacing: .6rem;
    }
    @include  responsive(770px){
      text-align: center;
    }
    @include responsive(phone){
      font-size: 2.6rem;
      letter-spacing: 0.4rem;
    }

  }

  &__subtitle{
    color: $color-white;
    font-size: 3rem;
    font-family: "Roboto Medium", sans-serif;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
    @include responsive(1060px){
      font-size: 2.5rem;
    }
    @include responsive(970px){
      font-size: 2rem;
      letter-spacing: .6rem;
    }
    @include  responsive(770px){
      font-size: 1.7rem;
    }
    @include responsive(phone){
      font-size: 2rem;
      letter-spacing: 0.4rem;
      justify-self: center;
    }

  }
}

.container{
  position: absolute;
  top: 20vh;

  width: 100%;
  padding: 10rem;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, minmax(3rem, max-content));
  text-align: center;

  @include  responsive(770px){
   padding: 5rem;
  }
  @include responsive(phone){
    grid-template-columns: repeat(1, 1fr);
    padding :4rem;
  }
  @include responsive(370px){
    padding: 3rem;
  }

}
.img-blockchain{
  background: linear-gradient(rgba($color-blue-primary-dark ,.5), rgba($color-blue-primary, .5)), url("assets/back.jpeg ");
  width: 40rem;
  height: 30rem;
  background-size: cover;
  position: absolute;
  bottom: 20px;
  left: 35%;
}

