.portfolio{

  &__title{
    display: block;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: .5rem;
    color: $color-blue-primary-dark;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__title--white{
    display: block;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: .5rem;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__list{
    list-style: none;
    display: flex;
    width: 30%;
    margin: 1rem auto;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: space-around;
  }

  &__links{
    &-cat{
      text-decoration: none;
      font-size: 1.6rem;
      color: $color-pink;
      background-color: $color-white;
      padding: 1rem 2rem;
      border-radius: 1rem;
    }
  }

  &__container{
    width: 85%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
