<div class="user_two">
  <form class="add_user" [formGroup]="formGroup" (ngSubmit)="createEmployee(formGroup.value)" >
      <input formControlName="name"  type="text" id="name" class="form__input" placeholder="Nom Complet">
      <input formControlName="fonction"  type="text" id="fonction" class="form__input" placeholder="fonction">
      <input formControlName="email"  type="email" id="email" class="form__input" placeholder="Email">
      <button type="submit" class="btn btn__card--inverse" style="margin-top: 2rem">Ajouter Employee</button>
    <p class="contact__heading-sub">{{message}}</p>
  </form>
  <div class="list_user">
    <div class="user_card" *ngFor="let employe of allEmployee">
      <p class="user_nom">{{employe.nom_complet}}</p>
      <p class="user_email">{{employe.email}}</p>
      <p class="user_fonction">{{employe.fonction}}</p>
      <button (click)="delete(employe.id_employer)" class="user_buton">delete</button>
    </div>
  </div>
</div>
