.user_two{
  display: flex;
  height: 90vh;

  .add_user{
    width: 40%;
    height: 100%;
    background-color: #2F2F51;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;

  }
  .list_user{
    width: 60%;
    height: 100%;
    padding: 4rem;

    display: flex;
    flex-wrap: wrap;

    .user_card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
      width: 40%;
      height: 15rem;
      box-shadow:0 1rem 1rem rgba(#2F2F51, .3);
      margin-left: 2rem;

      .user_nom{
        font-family: "Roboto Black", sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: #D85395;
      }
      .user_email{
        font-family: "Roboto Black", sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: #2F2F51;
      }
      .user_fonction{
        font-family: "Roboto Black", sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: #2F2F51;
      }
      .user_buton{
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 auto;
        color: white;
        background-color: #2F2F51;
        border-radius: 20rem;
        padding: 1rem 2.5rem;
      }
    }

  }
}
