<div class="navbar">
  <input type="checkbox" class="navbar__checkbox" id="navbar-toggle"/>
  <label for="navbar-toggle" class="navbar__button">
    <span class="navbar__baricon">&nbsp;</span>
  </label>
  <div class="navbar__background">&nbsp;</div>
  <h1><a class="navbar__brand" href="/">Ruashi Mining</a> </h1>
  <nav class="navbar__nav">
    <ul class="navbar__list">
      <li><a class="navbar__link"  routerLink="/">Accueil</a> </li>
      <li><a class="navbar__link" routerLink="/offres">Offres</a> </li>
      <li *ngIf="isAuthentificated()"><a class="navbar__link" routerLink="/candidat/candidature">Candidature</a> </li>
    </ul>
    <ul class="navbar__list-icons">
      <li *ngIf="!isAuthentificated()">
        <a routerLink="/login" href="/login" class="navbar__link" style="text-align: center">
          Se Connecter
        </a>
      </li>
      <li *ngIf="isAuthentificated()">
        <a  class="navbar__link" style="text-align: center">
          {{user.name}}
        </a>
      </li>

      <li>
        <a routerLink="/register" class="navbar__link" style="text-align: center" *ngIf="!isAuthentificated()">
          S'enregistrer
        </a>
        <a *ngIf="isAuthentificated()" class="navbar__link" style="text-align: center" (click)="logout()">Se Deconnecter</a>
      </li>
    </ul>
  </nav>
</div>
