<div class="content">
  <div class="transaction" *ngFor="let trans of allTransactions">
    <p>{{trans.index}}</p>
    <p>{{trans.timestamp}}</p>
    <p>{{trans.data}}</p>
    <p class="hash">{{trans.prevHash}}</p>
    <p class="hash">{{trans.hash}}</p>
  </div>

</div>
