.content{
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.transaction{
  width: 40%;
  margin: 2rem;
  font-size: 1.5rem;
  align-items: center;
}

.hash{
  font-family: "Raleway Thin", sans-serif;
  color: #007E33;
  font-style: italic;
}
