
<div class="portfolio all_header" *ngIf="!submitted">
  <h2 class="portfolio__title--white">Postuler pour le poste de : <span style="color: #D85395">{{offre.titre}}</span></h2>
  <h3 class="portfolio__title--white">{{message}} </h3>
  <form class="form_upload" [formGroup]="formGroup" (submit)="postuler()">
    <input formControlName="files" type="file"  id="motivation" class="form__input all_columns" placeholder="Lettre de Motivation" (change)="onFileMotivation($event)" multiple>
    <button class="btn btn__card--inverse " style="margin-top: 2rem;">Postuler</button>
  </form>
</div>

<div class="portfolio all_header" *ngIf="submitted">
  <h2 class="portfolio__title--white">Votre Candidature a ete enregistree</h2>
</div>
