.user_two{
  display: flex;
  height: 90vh;

  .add_user{
    width: 40%;
    height: 100%;
    background-color: #2F2F51;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;

  }
  .list_offres{
    padding: 2rem;
    margin: 0 auto;
    overflow-y: scroll;
  }
}
