<div class="user_two">
  <form class="add_user" [formGroup]="formGroup" (ngSubmit)="createOffres(formGroup.value)" >
    <input formControlName="title"  type="text" id="name" class="form__input" placeholder="Titre Recherchee">
    <input formControlName="date_fin"  type="text" id="date_fin" class="form__input" placeholder="Date de Fin">
    <textarea  rows="10" formControlName="description" id="fonction" class="form__input" placeholder="Description du post"></textarea>
    <button type="submit" class="btn btn__card--inverse" style="margin-top: 2rem">Publier</button>
    <p class="contact__heading-sub">{{message}}</p>
  </form>
  <div class="list_offres">
    <div class="card--inverse" *ngFor="let offre of allOffres">
      <p class="card__category" >{{offre.titre}}</p>
      <p class="card__title">{{offre.date_fin}}</p>
      <p class="card__description">{{offre.description}}</p>
      <a class="btn__card--inverse"  (click)="delete(offre.id_offre)">Supprimer</a>
    </div>
  </div>
</div>
