.all_centered{
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.text_welcome{
  font-family: "Raleway Thin", sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
}
