@mixin centerElement($top, $left){
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin responsive($brakpoint){
  @if $brakpoint == phone {
    @media (max-width: 600px) {@content;}
  }
  @else if $brakpoint == tab-port {
    @media (max-width: 900px) {@content;}
  }
  @else if $brakpoint == tab-land {
    @media (max-width: 1200px) {@content;}
  }
  @else if $brakpoint == big-desktop {
    @media (min-width: 1800px) {@content;}
  }
  @else {
    @media (max-width: $brakpoint) {
      @content;
    }
  }

}
