$color-grey-light-1: #7C7B81;
$color-grey-light-2: #707190;
$color-grey-light-3: #B7B6BC;
$color-grey-light-4: #ccc;

$color-white: #FFFFFF;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-nav: #353557;

$color-blue-primary: #2F304F;
$color-blue-primary-dark: #2F2F51;

$color-secondary: #9442FF;
$color-secondary-light: #975EED;

$color-yellow-light: #ffbb33;
$color-yellow-dark: #FF8800;

$color-pink: #D85395;
$color-violet: #8758E6;

$color-green-light: #00C851;
$color-green-dark: #007E33;

$color-dark-elegant: #2E2E2E;
$color-dark-elegant-dark: #212121;
