<header class="contact__header">
  <form class="contact" style="text-align: center" [formGroup]="formGroup" (ngSubmit)="RegisterCandidat(formGroup.value)">
    <h1 class="contact__heading">S'enregistrer</h1>
    <h2 class="contact__heading">{{message}}</h2>
    <input formControlName="name"  type="text" id="name" class="form__input" placeholder="Nom Complet">
    <input formControlName="phone"  type="text" id="phone" class="form__input" placeholder="Numero de telephone">
    <input formControlName="email"  type="email" id="email" class="form__input" placeholder="Email">
    <input formControlName="password"  type="password" id="password" class="form__input" placeholder="Mots de passe">
    <button type="submit" class="btn btn__card--inverse" style="margin-top: 2rem">S'enregistrer</button>
  </form>
</header>
<div class="register__image-div">
  <img src="assets/bloc.jpeg" alt="blockchaine" class="img-bloc">
</div>
