<header class="all_header">
  <form class="contact-full " style="text-align: center" [formGroup]="formGroup" (submit)="LoginVerifyAdmin(formGroup.value)">
    <h1 class="contact__heading">Connection Admin</h1>
    <h2 class="contact__heading-sub">{{message}}</h2>
    <input formControlName="email" type="email" id="email" class="form__input all_columns" placeholder="Email">
    <input formControlName="password"  type="password" id="password" class="form__input all_columns" placeholder="Mots de pass">
    <button type="submit" class="btn btn__card--inverse" style="margin-top: 2rem">Se Connecter</button>
  </form>
</header>
