<div class="card__conatiner">
  <div class="card__candidature" *ngFor="let candidature of allCandidature">
    <p class="candidat__name">{{candidature.candidat.name}}</p>
    <p class="candidat__name">{{candidature.candidat.email}}</p>
    <a class="card__links" href="http://127.0.0.1:5002/candidature/getfile?filename={{candidature.curiculum}}">Telecharger le CV</a>
    <a class="card__links" href="http://127.0.0.1:5002/candidature/getfile?filename={{candidature.motivation}}">Telecharger la lettre de Motivation</a>
    <span class="separator"></span>
    <p class="offres__titre">{{candidature.offre.titre}}</p>
    <p class="offres__titre">{{candidature.offre.date_fin}}</p>
    <span class="separator"></span>
    <p class="offres__titre">Etat candidature : {{candidature.valide}}</p>
    <span class="separator"></span>
    <p class="offres__titre">{{message}}</p>
    <span class="separator" *ngIf="message"></span>
    <button (click)="valiserCandidature(candidature.id_candidature)" class="btn__candidature" [disabled]="candidature.valide == 'valide'">Valider</button>
  </div>
</div>
