<header class="contact__header">
  <form class="contact" style="text-align: center" [formGroup]="formGroup" (submit)="LoginVerify(formGroup.value)">
    <h1 class="contact__heading">Se Connecter</h1>
    <h2 class="contact__heading">{{message}}</h2>
    <input formControlName="email" type="email" id="email" class="form__input all_columns" placeholder="Email">
    <input formControlName="password"  type="password" id="password" class="form__input all_columns" placeholder="Mots de pass">
    <button type="submit" class="btn btn__card--inverse" style="margin-top: 2rem">Se Connecter</button>
  </form>
</header>
<div class="register__image-div">
  <img src="assets/bloc.jpeg" alt="blockchaine" class="img-bloc">
</div>
