<div class="portfolio">
  <h2 class="portfolio__title">Liste des offres</h2>
</div>
<div class="portfolio__container" >
  <div class="card--inverse" *ngFor="let offre of allOffres" style="width: 47%">
    <p class="card__category" >{{offre.titre}}</p>
    <p class="card__title">{{offre.date_fin}}</p>
    <p class="card__description">{{offre.description}}</p>
    <a class="btn__card--inverse"  [routerLink]="['/candidat/postuler', offre.id_offre]">Postuler</a>
  </div>
</div>
