.all_header{
  height: 100vh;
  background: linear-gradient(to bottom ,
    rgba($color-blue-primary, 1), rgba($color-blue-primary-dark, 1)) top;

  @include responsive(850px){
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    display: flex;
    flex-direction: row;
  }
}
