.justify_end{
  justify-self: end;
}
.mb-md-2{
  margin-bottom: 2rem;
}

.text{
  &-white{
    color: $color-white !important;
  }
  &-primary{
    color: $color-blue-primary-dark !important;

  }

  &-secondary{
    color: $color-secondary !important;
  }
  &-pink{
    color: $color-pink !important;
  }
}
